{% extends 'base.html' %}

{% block title %}
    {{ show_project.name }} - Project Tracker
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>{{ show_project.name }}</h1>
            <p>
                {{ show_project.description }}
                <h2>Tasks</h2>
                <div>
                    <a href="{% url 'create_task' %}">Create</a>
                </div>
                {% if show_project.tasks.all|length > 0 %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Assignee</th>
                                <th>Start date</th>
                                <th>Due date</th>
                                <th>Is completed</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tasks in show_project.tasks.all %}
                                <tr>
                                    <td>{{ tasks.name }}</td>
                                    <td>{{ tasks.assignee }}</td>
                                    <td>{{ tasks.start_date|date:"m/d/y" }}</td>
                                    <td>{{ tasks.due_date|date:"m/d/y" }}</td>
                                    <td>{{ tasks.is_completed|yesno:"yes,no" }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>This project has no tasks</p>
                {% endif %}
            </div>
        </main>
    {% endblock content %}
